@media (max-width: 986px) {
    .container {
        padding: 0 15px;
    }
}

@media (max-width: 836px) {
    .advantages {
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }

        &__block {
            margin-top: 30px;
        }
    }
}

@media (max-width: 726px) {
    .header {
        &__official {
            display: none;
        }
    }

    .promo {
        &__wrapper {
            align-items: center;
        }

        &__header {
            font-size: 35px;
            line-height: 35px;
        }

        &__subheader {
            font-size: 18px;
            line-height: 18px;
        }
    }

    .advantages {
        padding: 35px 0 35px 0;

        &__wrapper {
            margin-top: 0px;
        }
    }

    .consultation {
        &__descr {
            margin-top: 0;
            text-align: center;
        }
    }

    .title {
        &_left {
            font-size: 30px;
            text-align: center;
        }
    }

    .feed-form {
        margin: 20px auto;
    }
}

@media (max-width: 463px) {
    .header {
        flex-direction: column;
        align-items: center;

        &__contacts {
            display: none;
        }
    }

    .promo {
        min-height: 500px;
        padding: 24px 0 24px 0;

        &__wrapper {
            margin-top: 40px;
        }

        &__header {
            font-size: 23px;
            line-height: 25px;
        }

        &__subheader {
            margin: 0;
            font-size: 18px;
            line-height: 18px;
            text-align: center;
        }

        &__icons {
            width: 100%;
            margin: 15px 0 0 0;
            flex-direction: column;
            align-items: center;
        }

        &__icon {
            margin-top: 10px;
            width: 100%;

            img {
                margin-bottom: 5px;
            }
        }

        &__link {
            padding-top: 10px;

            a {
                font-size: 14px;
            }
        }
    }

    .advantages {
        &__title {
            font-size: 23px;
            line-height: 23px;
        }

        &__subtitle {
            margin-top: 10px;
        }
    }

    .consultation {
        min-height: 300px;
        padding: 50px 0;

        &__descr {
            font-size: 16px;
        }
    }

    .title {
        font-size: 23px;

        &_left {
            font-size: 18px;
        }
    }

    .button_main {
        margin-top: 25px;
        width: 250px;
        height: 40px;
    }

    .feed-form {
        width: 100%;
    }
}