.advantages {
    min-height: 470px;
    background-color: #f6f6f6;
    padding: 60px 0 80px 0;

    &__title {
        color: #0d0d0d;
        font-size: 30px;
        font-weight: 700;
        text-align: center;
    }

    &__wrapper {
        margin-top: 55px;
        display: flex;
        justify-content: space-between;
    }

    &__block {
        width: 250px;
    }

    &__icon {

        img {
            display: block;
            margin: 0 auto;
        }
    }

    &__subtitle {
        margin-top: 32px;
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
    }

    &__text {
        margin-top: 18px;
        color: #0d0d0d;
        font-size: 14px;
        line-height: 16px;
        font-weight: 300;
        text-align: center;

        a {
            color: #ff0000;
            text-decoration: underline;
            text-transform: uppercase;
        }
    }

}