.advantages {
    padding: 50px 0;
    min-height: 500px;
    background-color: #f3f3f3;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        margin-top: 30px;
        display: flex;
        align-items: flex-start;
        width: 530px;

        &-img {
            display: block;
            margin: 0 15px 0 0;
        }
    }

    &__info {
        width: 450px;
    }

    &__subtitle {
        color: $main-color;
        font-size: 14px;
        font-weight: 700;
        line-height: 22px;
    }

    &__descr {
        color: #3a3a3a;
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
    }
}